.App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task-create {
    width: 450px;
  }
  .task-update {
    width: 100%;
  }
  
  .task-form {
    display: flex;
    flex-direction: column; /*yazılanları alt alta getirir*/
  }
  
  .task-label {
    margin: 10px 0px;
  }
  
  .task-input {
    padding: 10px; /*yazıyla kenarlar arasında bosluk bırakır*/
    border: 1px solid black;  /*kenarları siyah yapar*/
    border-radius: 10px; /*kenarları yuvarlar*/
  }
  
  .task-button {
    border: 1px solid green;
    margin: 10px 0px; /*butonu yukarıdan 10px uzaklastırır*/
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 20px;
  }
  .update-button {
    background-color: blueviolet;
  }
  .task-list {
    display: flex;
    flex-wrap: wrap; /*sıgmayınca bir alt satıra gecer*/
    justify-content: center; /*ortalar*/
  }
  .task-show {
    border: 1px solid green;
    border-radius: 30px;
    width: 350px;
    padding: 20px;
    display: flex; /*yazılanları sıkıstırır*/
    flex-direction: column;
    align-items: center; /*yazıları ortaya getirir*/
    margin: 20px; /*gorevler arasında bosluk bırakır*/
  }
  .task-title {
    margin-bottom: 5px;
  }
  .task-edit {
    padding: 5px;
    font-size: 15px;
    width: 100px;
    border: none;
    border-radius: 30px;
    background-color: blue;
    color: white;
    margin-right: 10px;
  }
  .task-delete {
    padding: 5px;
    font-size: 15px;
    width: 60px;
    border: none;
    border-radius: 30px;
    background-color: red;
    color: white;
    margin-right: 10px; /*iki butonu birbirinden ayırır*/
  }