.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-form{
    display: flex;
    flex-direction: column;
}

.task-create{
    width: 450px;
}

.task-label{
    margin: 10px 0px;
}

.task-input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.task-button{
    border: 1px solid green;
    margin: 10px 0px;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}